name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: npm i -g --force corepack@latest && corepack enable

      - name: Install dependencies
        run: npx nypm@latest i

      - name: Lint
        run: npm run lint

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        nuxt-version: [3, 4]

    name: test (nuxt ${{ matrix.nuxt-version }})

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: npm i -g --force corepack@latest && corepack enable

      - name: Install dependencies
        run: npx nypm@latest i

      - name: Override to Nuxt 3
        if: matrix.nuxt-version == 3
        run: npx nypm@latest i nuxt@^3

      - name: Playground prepare
        run: npm run dev:prepare

      - name: Type check
        if: matrix.nuxt-version == 4
        run: npm run test:types

      - name: Test
        run: npm run test
